.content_wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 24px;

  @media screen and (max-width: 1439px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1179px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 547px) {
    grid-template-columns: 1fr;
  }
}
