.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth_wrapper {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_title {
  margin-bottom: 40px;
}

.login_wrapper {
  button {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 2px 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(172, 165, 165);
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
      background-color: rgb(217, 221, 221);
    }

    svg {
      width: 24px;
      height: 24px;
    }

    p {
      display: inline-block;
      font-family: 'Karla';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: #000000;
    }
  }
}
