.App {
  max-width: 1440px;
  min-height: 110vh;
  margin: 0 auto;
  padding: 0 210px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1094px) {
    padding: 0 80px;
  }
  @media screen and (max-width: 750px) {
    padding: 0 24px;
  }
}

.fetching {
  margin: 10vh auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #8e8e93;
  animation: search 1.3s alternate infinite;
  align-self: center;
}

@keyframes search {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

.sign_up_wrapper {
  position: absolute;
  top: 21px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  transition: 0.3s ease-in;

  button {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
